 @media (max-width: 600px) {
     .nav ul li a {
         font-size: clamp(2rem, 3vw, 4rem);
         font-weight: 100;
     }

     header {
         height: 120px;
     }

     div.top {
         height: 30px;
     }

     .nav {
         height: 90px;
     }



     ul.worklist li {
         width: 100%;

     }

     ul.shoplist li {
         width: 100%;
         padding-bottom: 20px;
     }

     header {
         height: 240px;
         z-index: 1000;
     }

     main, section {

         padding-top: 0;
         position: relative;
     }

     main {
         margin-top: 240px;
     }

     .topmiddle, .topright, .nav, aside.sidenav {
         display: none;
     }

     section.work {
         width: 100%;
         padding: 0;
         padding-top: 20px;
     }

     ul.worklist {
         gap: 20px;
         padding-bottom: 20px;
     }

     .topleft {
         font-size: 28px;
         white-space: nowrap;
     }

     .mobilemenu {
         width: 55px;
         text-align: left;
         display: flex;
     }

     .mobilemenu i {
         font-size: 28px;
     }

     .homeimg {
         height: calc(100vh - 242px);
     }

     .homeimg img {
         width: 100%;
         height: 100%;
         object-fit: cover;
     }

     .navmobile {
         width: calc(100vw + 1px);
         height: calc(100vh - 240px);
         background-color: rgba(240, 240, 240, 1);
         position: fixed;
         bottom: 0;
         right: -1px;
         display: none;
         border: 0;
         z-index: 100;
     }

     .navmobile ul {
         height: calc(100% - 300px);
         padding-top: 100px;
     }

     .navmobile ul li {
         height: 33%;
         line-height: 100%;
         text-align: center;

     }
a, a:hover, a:visited, a:link, a:active, a:focus {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.06); 
}
     .navmobile ul li a {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         line-height: 100%;
         width: 100%;
         font-size: 24px;
         
         appearance: none;
     }
.navmobile ul li a:hover,.navmobile ul li a:active,.navmobile ul li a:focus
        {
            background-color: rgba(200, 200, 200, 0.5);
        }
     .mobilecontact {
         position: absolute;
         left: 30px;
         bottom: 30px;
     }

     .mobilecontact p {
         line-height: 26px;
         font-size: 18px;
     }


     ul.aboutlist li {
         width: 100%;
         min-height: 100px;
         padding: 20px;
         box-sizing: border-box;

     }

     ul.aboutlist li p {
         font-size: 16px;
         text-align: left;
     }

     ul.shoplist {
         padding: 20px;
     }

     .workviewleft {

         width: 100%;
     }

     .workviewright {
         display: none;

     }

     ul.shoplist p {
         display: none;
     }
 }