/* CSS Reset Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Reset End */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

::-webkit-scrollbar-corner {
    background: #f0f0f0;
}

a, a:visited {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

a:hover, a:active {

    color: #9D9A9A;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.font2 {
    font-family: SpaceGrotesk;
}

img {
    max-width: 100%;
}

header {
    height: 190px;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(240, 240, 240, 1);
    border-bottom: 1px #000 solid;
    /*backdrop-filter: blur(10px);*/
}



div.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: top;
    padding-top: 20px;
}

.topleft {
    font-weight: bolder;
    width: 200px;
    box-sizing: border-box;
    padding-left: 25px;
    font-size: 20px;
}

.topmiddle {
    text-align: left;
    width: calc(100% - 260px);
    font-size: 14px;
    /* Adjusted to account for left and right padding */
}

.topright {
    width: 100px;
    box-sizing: border-box;
    padding-right: 20px;
    text-align: right;

}

.topright a {
    padding-left: 5px;
    padding-right: 5px;
}

.nav {
    height: 100px;
    text-align: right;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-right: 10px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    font-size: clamp(4rem, 6vw, 10rem);
    font-weight: 100;
}

.nav ul li.active a {
    font-weight: 500;
}

main {
    text-align: left;
    padding-top: 190px;
    
}

h1 {
    margin-top: 0;
}

main.workbox {
    display: flex;
}

aside.sidenav {
    width: 180px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
}

aside.sidenav a {
    display: block;
    padding: 5px;
    font-size: 14px;

}

section.work {
    width: calc(100% - 150px);
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 30px;
    overflow: auto;
    height: calc(100vh - 190px);
}

ul.worklist {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

ul.worklist li {
    width: calc(33% - 10px);
}

ul.worklist li a img {
    width: 100%;
    height: auto;
    display: block;
    background-color: #fff;
    height: 100%;
    object-fit: cover;
}

ul.aboutlist {
    margin-top: 20px;
}

ul.aboutlist li {
    width: calc(50% - 10px);
    min-height: 100px;
    box-sizing: border-box;

}

ul.shoplist {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-right: 10px;
}

ul.shoplist li {
    width: calc(50% - 5px);
    min-height: 100px;
    box-sizing: border-box;

}

ul.aboutlist li p {
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 26px;
    font-weight: 400;
    font-family: SpaceGrotesk;
}

p.shoptitle {
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 15px;
}

.navmobile, .mobilemenu {
    display: none;
}

.workview {
    display: flex;
    font-family: SpaceGrotesk;
    overflow: auto;
    height: calc(100vh - 190px);
}

.workviewleft {
    padding: 20px;
    box-sizing: border-box;
    width: calc(100vw - 440px);
}

.workviewright {
    width: 240px;

}

.viewcon p {
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 26px;
    font-weight: 400;

}

.viewcon p a {
    color: blue;
    transition: all 0.3s ease;
}

.viewcon p a:hover {
    color: #9D9A9A;
}

.viewcon p strong {
    font-weight: 700;
}

.viewtitle {
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 26px;
    font-weight: 700;
    font-family: Montserrat;
}

.viewinfo {
     font-family: Montserrat; 
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
}

.imgbox {
    padding-bottom: 20px;
    padding-top: 20px;
}
.viewcon{padding-bottom: 100px;}
.imgbox img {
    width: 100%;
}

li.thissidenav a {
    font-weight: bold;
}

.copyright {
    position: fixed;
    right: 20px;
    bottom: 20px;
}